.bg-secondary {
  background-color: #E9E2E2 !important;
}

.btn-primary{
    background-color: #617AFA;
    border-color: #617AFA;
}

.btn-primary:hover{
    background-color: #617AFA;
    border-color: #617AFA;
    filter: brightness(85%);
}

@media (min-width: 768px) {
    .min-width-450 {
        min-width: 450px;
    }
}